/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

body { 
	padding-top: 60px; 
	font-size: 8px;
}

/* Property for button background */
.white {
 	color: white; important!
 }

.form-person {
	margin:20px;
	padding: 30px;
	background-color: #EBE7E6;
	border-radius: 25px;
}
.table thead {
	background:lavender;
}

.day {
	width: 10% !important;
	margin-right: 10px !important;
}

.month {
	width: 30% !important;
	margin-right: 10px !important;
}
.year {
	width: 20% !important;
	margin-right: 10px !important;
}

.associated-chkbox{
	width: 5% !important;
	margin-left: 0px !important;
}

.date-display{
	display: flex;
}

.message{
	margin-top: 5px; 
	font-style: italic; 
	color: grey;
}

/* Search partial view */
.search-title {
    margin: 5px;
    float: left;
}
.search-box {
	padding: 10px;
    background: #EBE7E6;
    margin-bottom: 30px;
    border-radius: 10px;
}
/* --------------------------- */